<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main class="FORM">
        <form class="tag" action="/admin/add-product" method="POST">
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Enter Title here:</span>
                <input type="text" name="title" id="title" class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Enter Image Url here:</span>
                <input type="text" name="imageUrl" id="imageUrl" class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default">
            </div>
            <h3>or</h3>
            <div class="input-group mb-3">
                <input type="file" name="imageUrl" id="imageUrl" class="form-control" id="inputGroupFile02">
                <label class="input-group-text" for="inputGroupFile02">Upload here</label>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Enter Price Here:</span>
                <input type="number" name="price" id="price" class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group">
                <span class="input-group-text">With textarea</span>
                <textarea name="description" id="description" rows="5" class="form-control"
                    aria-label="With textarea"></textarea>
            </div>
            <button class="productInputButton" type="submit">Add Product</button>
        </form>
    </main>
</body>

<%- include('../includes/end.ejs') %>
