<form action="/cart" class="cart-form" method="POST">
    <button type="submit" class="btn btn-primary">
        Add to cart <span>&rarr;</span>
    </button>
    <input type="hidden" name="productId" value="<%= product.id %>">
</form>