<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="/css/shop.css" />
    {{#if ProductCSS}}
      <link rel="stylesheet" href="/css/products.css" />
    {{/if}}
    {{#if FormCSS}}
      <link rel="stylesheet" href="/css/add-product.css" />
      <link rel="stylesheet" href="/css/add-product-form.css" />
    {{/if}}
  </head>

  <body>
    <nav>
      <ul class="navbar">
        <li class="navbar__item"><a class="{{#if activeShop }}active{{/if}}" href="/">Shop</a></li>
        <li class="navbar__item"><a class="{{#if activeAddProduct }}active{{/if}}" href="/admin/add-product">Add Product</a></li>
      </ul>
    </nav>
    {{{body}}} 
  </body>

</html>