doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title #{pageTitle}
    link(rel="stylesheet", href="/css/shop.css")
    block styles
  body
    nav
      ul.navbar
        li.navbar__item
          a(href="/", class=(path==="/"?"active":"")) Shop
        li.navbar__item
          a(href="/admin/add-product", class=(path==="/admin/add-product"?"active":"")) Add Product
    block contentBody