<%- include('includes/head.ejs') %>
        <link rel="stylesheet" href="/css/add-product.css" />
        <link rel="stylesheet" href="/css/add-product-form.css" />
    </head>

    <body>
        <%- include('includes/navigation.ejs') %></body>
        <main class="FORM">
            <form class="tag" action="/admin/add-product" method="POST">
                <input class="productInput" type="text" name="title" id="title" />
                <button class="productInputButton" type="submit">Add Product</button>
                <br /><br />
                <p>by EJS File</p>
            </form>
        </main>
<%- include('includes/end.ejs') %>