<p>From HBS</p>
<main class="FORM">
  <form class="tag" action="/admin/add-product" method="POST">
    <input class="productInput" type="text" name="title" id="title" />
    <button class="productInputButton" type="submit">Add Product</button>
    <br /><br />
    <p>by HBS File</p>
  </form>
</main>