extends layouts/main-layout.pug 

block styles
  link(rel='stylesheet', href='/css/add-product.css')
  link(rel='stylesheet', href='/css/add-product-form.css')

block contentBody 
  main.FORM
      form.tag(action='/admin/add-product', method='POST')
        input.productInput(type='text', name='title')#title
        button.productInputButton(type='submit') Add Product