<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="/css/shop.css" />
    <link rel="stylesheet" href="/css/add-product.css" />
    <link rel="stylesheet" href="/css/add-product-form.css" />
  </head>

  <body>
    <nav>
      <ul class="navbar">
        <li class="navbar__item"><a href="/">Shop</a></li>
        <li class="navbar__item"><a href="/admin/add-product">Add Product</a></li>
      </ul>
    </nav>
    <main class="FORM">
      <form class="tag" action="/admin/add-product" method="POST">
        <input class="productInput" type="text" name="title" id="title" />
        <button class="productInputButton" type="submit">Add Product</button>
        <br /><br />
        <p>by HBS File</p>
      </form>
    </main>
  </body>

</html>