*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

/* Set default styles for the body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    color: #fff;
    /* Add this line to center the content */
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    /* Add this line to center the content */
}

.navbar__item {
    display: inline-block;
    /* Change float to display and set to inline-block */
}

.navbar__item a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 20px;
}

.navbar__item a:hover {
    background-color: #ddd;
    color: black;
}
.active {
    background-color: #4CAF50;
    color: white;
}

main {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 6rem;
    font-family: "Inter", sans-serif;
    background-color: #f2f2f2;
    color: #333;
    min-height: 100vh;
}

@media (max-width: 60em) {
    body {
        padding: 3rem;
    }
}


/* Main styles */
.heading {
    position: absolute;
    /* border: 2px solid #333; */
}

.mainMyProducts {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.mainList {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.NoProducts {
    font-size: 40px;
    position: relative;
    margin-top: 200px;
}