 /* Header styles */
 .main-header {
     display: flex;
     justify-content: space-between;
     align-items: center;
     height: 6rem;
     background-color: #333;
     color: #fff;
 }


 .main-header__nav ul {
     list-style: none;
     display: flex;
 }

 .main-header__nav li {
     margin-left: 2rem;
 }

 .main-header__nav a {
     color: #fff;
     text-decoration: none;
     font-weight: bold;
     font-size: 1.2rem;
 }

 /* Main styles */
 main {
     max-width: 114rem;
     margin: 0 auto;
     padding: 3rem 6rem;
 }

 .mainMyProducts {
     font-size: 3rem;
     margin-bottom: 1.5rem;
 }

 .mainList {
     font-size: 1.5rem;
     color: #777;
     margin-bottom: 2.5rem;
 }